.App {
  text-align: center;
}

body {

  margin: 0;
  padding: 0;
  background-color: #3f51b5 !important;
}

@font-face {
  
  font-family: Cairo;
  src: url("../public/fonts/cairo/Cairo-Regular.ttf");
  font-weight: 500;
}

@font-face {
  
  font-family: Cairo;
  src: url("../public/fonts/cairo/Cairo-Light.ttf");
  font-weight: 400;
}

@font-face {
  
  font-family: Cairo;
  src: url("../public/fonts/cairo/Cairo-Medium.ttf");
  font-weight: 600;
}